@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

@layer base{
    @font-face {
        font-family: "Musticapro";
        src:  url("../../public/fonts/MusticaPro-SemiBold.otf") format('otf');
        font-weight: normal;
        font-style: normal;

    }
    .title-text-banner {

        font-size: 40px;
        font-weight: 600;
        line-height: 55px;
        letter-spacing: 0;
        text-align: left;
        color: #E5F3FF;


    }

    .subtitle-text-banner {

        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        text-align: left;
        color: #E5F3FF;

    }
}
