@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Musticapro";
    src: url("../public/fonts/MusticaproSemibold-2OG5o.otf");
}

[x-cloak] {
    display: none;
}
