@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

@layer base{
    @font-face {
        font-family: "Musticapro";
        src:  url("../../public/fonts/MusticaPro-SemiBold.otf");
    }
    @font-face {
        font-family: "Lato";
        src:  url("../../public/fonts/Lato-Regular.ttf");
    }
    .hidden-sm {
        @media screen and (max-width: 768px){
            display: none;
        }
    }
    .hidden-md {
        @media screen and (min-width: 769px){
            display: none;
        }
    }
    .notification {
        color: #0F3B53 !important;
        background: transparent;
        filter: brightness(-50%);

    }
    [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus,
    [type='date']:focus, [type='datetime-local']:focus,
    [type='month']:focus, [type='search']:focus, [type='tel']:focus,
    [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus
     {
        outline: none !important;
        border-color: transparent !important;
        box-shadow: none !important;
    }

}
