$breakpoint-xs: 360px; // Para pantallas muy pequeñas
$breakpoint-sm: 576px; // Para pantallas pequeñas
$breakpoint-md: 768px; // Para pantallas medianas
$breakpoint-lg: 992px; // Para pantallas grandes
$breakpoint-xl: 1200px; // Para pantallas muy grandes
@mixin media($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  }
  @else if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  }
  @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  }
  @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
  @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}